<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' />
    <script src='/javascripts/jquery-1.7.2.min.js' type='text/javascript' ></script>
    <script src='/javascripts/main.js' type='text/javascript' ></script>
  </head>
  <body>
    <div id="userinfo">
      <img class="element al" src="<%= userPic %>" />
      <h2 class="element al"><%= user %></h2>      
      <input class="ar" type="button" id="searchSymbol" value="Get Symbol"/>
      <input class="ar" type="text" id="stockSymbol" value="" />      
    </div>    
    <div id="content">
      <div id="wrapper"><%= result %></div>
    </div>    
  </body>
</html>